.endpoints_header{
    border-bottom: white 1px solid;
    padding-bottom: 5px;
}
.endpoints_label{
    display: inline-block;
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}
.endpoints_button{
    font-size: 40px;
    float: right;
    transition: 0.3s;
    color: greenyellow;
    cursor: pointer;
}
.endpoints_button:active{
    font-size: 43px;
}
.no_endpoints{
    font-style: italic;
    transition: 1s;
}
.endpoints_list{
    overflow: auto;
    max-height: 60vh;;
    padding: 10px;
    overflow-x: hidden;
}
.endpoints_item{
    list-style: none;
    transition: 0.5s;
}
.enter {
    opacity: 0.01;
    transition: opacity 0.3 s ;
    transform: translateX(110%);
  }
  .enter.enterActive {
    opacity: 1;
  }
  .leave {
    opacity: 1;
    
    transition: opacity 0.5s ;
  }
  .leave.leaveActive {
    transition: 0.5s;
    transform: translateX(100%);
    opacity: 0.01;
  }
  .appear {
    opacity: 0.01;
  }
  .appear.appearActive {
    
    opacity: 1;
    transition: opacity 0.5s;
  }