.endpoint{
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.text_input{
    color: white;
    background: transparent;
    border: none;
    border-bottom: white 2px solid;
    outline: none;
    line-height: 40px;
    flex: 50%;
}
.text_input:focus{
    border-bottom: greenyellow 2px solid;
}
.filler{
    flex-grow: 1;
}
.select{
    background-color: #1b1f23;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px ;
    font-weight: 500;
    padding: 3px;
}
.select:focus{
    border: 2px solid greenyellow;
}
.delete{
    margin-left: 30px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.1s;
}
.delete:hover{
    color: red;
}
.delete:active{
    font-size: 33px;
}


.out{
    transform: translateX(100%);
}