.basics{
    display: flex;
    margin-bottom: 50px;
}
.project_name,.language{
    flex: 50%;
}
.project_name{
    padding-right: 50px;
}
.label{
    font-weight: 700;
    font-size: 20px;
}
.name_container{
    margin-top: 15px;
}
.input{
    color: white;
    background: transparent;
    border: none;
    font-weight: lighter;
    border-bottom: white 2px solid;
    outline: none;
}
.radio_input{
    accent-color:greenyellow;
    background-color: greenyellow;
}

.options{
    display: flex;
}

.db,.cors{
    flex: 50%;
}
.select_db{
    background-color: #1b1f23;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px ;
    font-weight: 500;
    padding: 3px;
}
.check_cors{
    accent-color:greenyellow;
}
