.basics{
    display: flex;
    margin-bottom: 50px;
}
.project_name,.language{
    flex: 50%;
}
.label{
    font-weight: 700;
    font-size: 20px;
}
.name_container{
    margin-top: 15px;
}
.input{
    color: white;
    background: transparent;
    border: none;
    font-weight: lighter;
    border-bottom: white 2px solid;
    outline: none;
}
.input:focus{
    border-bottom: greenyellow 2px solid;
}   
.radio_input{
    accent-color:greenyellow;
}

.options{
    display: flex;
}

.db,.cors{
    flex: 50%;
}
.select_db{
    background-color: #1b1f23;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px ;
    font-weight: 500;
    padding: 3px;
}
.select_db:focus{
    border: 2px solid greenyellow;
}
.check_cors{
    accent-color:greenyellow;
}
@media (max-width:900px) {
    .input{
        max-width: 60%;
    }
}
